/********************************************************************
    8px Grid Margin/Padding Offsets
    zmnv-css-offsets 1.0.0 from https://github.com/zmnv/zmnv-css-offsets
*********************************************************************/

.mar-2 { margin: 2px; }
.mar-4 { margin: 4px; }
.mar-8 { margin: 8px; }
.mar-16 { margin: 16px; }
.mar-24 { margin: 24px; }
.mar-32 { margin: 32px; }
.mar-48 { margin: 48px; }
.mar-64 { margin: 64px; }

.mar-l-2 { margin-left: 2px; }
.mar-l-4 { margin-left: 4px; }
.mar-l-8 { margin-left: 8px; }
.mar-l-16 { margin-left: 16px; }
.mar-l-24 { margin-left: 24px; }
.mar-l-32 { margin-left: 32px; }
.mar-l-48 { margin-left: 48px; }
.mar-l-64 { margin-left: 64px; }

.mar-t-2 { margin-top: 2px; }
.mar-t-4 { margin-top: 4px; }
.mar-t-8 { margin-top: 8px; }
.mar-t-16 { margin-top: 16px; }
.mar-t-24 { margin-top: 24px; }
.mar-t-32 { margin-top: 32px; }
.mar-t-48 { margin-top: 48px; }
.mar-t-64 { margin-top: 64px; }

.mar-r-2 { margin-right: 2px; }
.mar-r-4 { margin-right: 4px; }
.mar-r-8 { margin-right: 8px; }
.mar-r-16 { margin-right: 16px; }
.mar-r-24 { margin-right: 24px; }
.mar-r-32 { margin-right: 32px; }
.mar-r-48 { margin-right: 48px; }
.mar-r-64 { margin-right: 64px; }

.mar-b-2 { margin-bottom: 2px; }
.mar-b-4 { margin-bottom: 4px; }
.mar-b-8 { margin-bottom: 8px; }
.mar-b-16 { margin-bottom: 16px; }
.mar-b-24 { margin-bottom: 24px; }
.mar-b-32 { margin-bottom: 32px; }
.mar-b-48 { margin-bottom: 48px; }
.mar-b-64 { margin-bottom: 64px; }

.pad-2 { padding: 2px; }
.pad-4 { padding: 4px; }
.pad-8 { padding: 8px; }
.pad-16 { padding: 16px; }
.pad-24 { padding: 24px; }
.pad-32 { padding: 32px; }
.pad-48 { padding: 48px; }
.pad-64 { padding: 64px; }

.pad-l-2 { padding-left: 2px; }
.pad-l-4 { padding-left: 4px; }
.pad-l-8 { padding-left: 8px; }
.pad-l-16 { padding-left: 16px; }
.pad-l-24 { padding-left: 24px; }
.pad-l-32 { padding-left: 32px; }
.pad-l-48 { padding-left: 48px; }
.pad-l-64 { padding-left: 64px; }

.pad-t-2 { padding-top: 2px; }
.pad-t-4 { padding-top: 4px; }
.pad-t-8 { padding-top: 8px; }
.pad-t-16 { padding-top: 16px; }
.pad-t-24 { padding-top: 24px; }
.pad-t-32 { padding-top: 32px; }
.pad-t-48 { padding-top: 48px; }
.pad-t-64 { padding-top: 64px; }

.pad-r-2 { padding-right: 2px; }
.pad-r-4 { padding-right: 4px; }
.pad-r-8 { padding-right: 8px; }
.pad-r-16 { padding-right: 16px; }
.pad-r-24 { padding-right: 24px; }
.pad-r-32 { padding-right: 32px; }
.pad-r-48 { padding-right: 48px; }
.pad-r-64 { padding-right: 64px; }

.pad-b-2 { padding-bottom: 2px; }
.pad-b-4 { padding-bottom: 4px; }
.pad-b-8 { padding-bottom: 8px; }
.pad-b-16 { padding-bottom: 16px; }
.pad-b-24 { padding-bottom: 24px; }
.pad-b-32 { padding-bottom: 32px; }
.pad-b-48 { padding-bottom: 48px; }
.pad-b-64 { padding-bottom: 64px; }
